// COLORS 
$primary-color: #3C4142;
$accent-color: #07A84E;
$text-light: white;
$text-dark: $primary-color;

// SPACING
$desktop-sides: 40px;

// BREAKPOINT SIZES
$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)


