// COLORS 
$primary-color: #3C4142;
$primary-color-dark: #3a3f40;
$primary-color-light: #464c4e;

$accentColor-primary: #07A84E;
$accentColor-secondary: #F3F43A;
$text-light: white;
$text-dark: $primary-color;
$transformation-image-background: #FCFCFC;

// SPACING
$gap-sm: 10px;
$gap-md: 20px;
$gap-lg: 40px;
$gap-xl: 120px;

// SPACING - SIDES
$desktop-sides: 80px;
$mobile-sides: 20px;

// SPACING - TOPS/BOTTOMS
$section-gutter-y--mobile: 80px;
$section-gutter-x--mobile: $gap-md;

$section-gutter-y--tablet: $gap-xl;
$section-gutter-x--tablet: $gap-xl;

$section-gutter-y--desktop: $gap-xl;
$section-gutter-x--desktop: $desktop-sides;



// BREAKPOINT SIZES
$breakpoint-sm: 576px; // Small devices (phones)
$breakpoint-md: 768px; // Medium devices (tablets)
$breakpoint-lg: 992px; // Large devices (desktops)
$breakpoint-xl: 1200px; // Extra large devices (large desktops)

//NAVIGATION
$nav-height: 100px;
