@import '../../../assets/scss/abstracts/variables';
@import '../../../assets/scss/abstracts/mixins';
.services{
    padding: $gap-xl $mobile-sides;
    background: lighten($primary-color, 3%);
}
.serviceGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 10px;
    @include respond-to('md'){
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 1fr, 1fr;
    }
    @include respond-to('lg'){
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr, 1fr;
    }
}