@import '../../assets/scss/abstracts/variables';
@import '../../assets/scss/abstracts/mixins';
.contact-form{
    display: flex;
    flex-direction: column;
    background: $primary-color;
    align-items: flex-start;
    flex-grow: 2;
    padding: $gap-lg $gap-md;
    @include respond-to('md'){
        
    }
    @include respond-to('lg'){
        padding: $gap-lg;
    }
    h3{
        margin-bottom: $gap-md;
    }
    input, textarea{
        padding:10px;
        background-color: lighten($primary-color, 4%);
        border: none;
    }
    textarea{
        min-height: 150px;
        width: 100%;
    }
    input::placeholder, textarea::placeholder{
       color: rgb(255, 255, 255)!important; 
    }
    input{
        margin-bottom: $gap-sm;
        width: 100%;
        
    }

}