@import '../../assets/scss/abstracts/variables';
@import '../../assets/scss/abstracts/mixins';
$hover-color: #E8E8E8;
$submenu-background-color: #212224;
$submenu-hover-background-color: #2C2D2F;
$button-border-color: $accentColor-primary;
$transition-duration: .2s;
$space-1: 20px;
$space-2: 40px;

:root {
  --def-transition-duration: $transition-duration;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 $mobile-sides;
  background-color: $primary-color;
  margin: 0 auto;
  position: fixed;
  z-index: 10;

  height: $nav-height;
  @include respond-to('lg'){
    padding: 0 $desktop-sides;
  }
    p, li{
      font-size: 14px;
      @include respond-to('lg'){
        font-size: 16px;
      }
    }
   li{
    cursor: pointer;
    opacity: 1;
   

    &:hover{
      opacity: 1;
     
    }
   }
   ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;

    
   
    a {
      text-decoration: none;
      color: $text-light;
      display: inline-block;
      
      &:hover {
        color: $hover-color;
      }
    }
  }

  .nav-text{
    position: absolute;
    top: $nav-height;
    right: 0;
    left:0;
    height: calc(100vh - $nav-height);
    background: $primary-color;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    padding: $gap-xl $gap-md;
    visibility: hid;
    z-index: -1;
    transform: translate3d(0, 0, 0);
    transition: transform $transition-duration ease-in-out;
    @media (min-width: 767px) {
        z-index: 2;
        position: relative;
        top: initial;
        height: $nav-height;
      }
    @include respond-to('md'){
      padding: 0;
      flex-direction: row;
      align-items: center;
    }
  }
  .nav-menu{
    gap: 30px;
   
    @include respond-to('md') {
       flex-direction: row;
       gap: 30px
      }

  }
  .hideNav{
    transform: translate3d(0, -100%, 0);
    visibility: hidden;
    @media (min-width: 767px) {
        transform: translate3d(0, 0, 0);
        visibility: visible;
      }
  }
  li:hover{
  
    font-weight: 600;

  }
  li.has-submenu {
    position: relative;
    display: flex;
    align-items: start;
    justify-content: flex-start;
    flex-direction: row;
    svg{
      transform: scale(.7) translateY(6px);
 
      left: calc(100% + 5px);
    }
  
    &::after {
    //   content: url('icons/icon-arrow-down.svg');
      opacity: .6; 
      height: 25px;
    }

    &:hover {
      ul {
        display: block;
      }

      &::after {
        opacity: 1;
      }

      > a {
        color: $hover-color;
      }
    }

    
  }
}

.service-item{
  margin-left: 10px;
  opacity: .8;
  &:hover{
    opacity: 1;
  }
}



#logo{
    width: 100px
}
.logo-container{
  width: 250px;
}
#hamburger{
  cursor: pointer;
  @media (min-width: 767px) {
    display: none;
  }
    
}

.submenu{
  background-color: lighten($primary-color, 5%);
  padding:40px 10px;
  position: absolute;
  top: -90px;
  width: 200px;
  left: calc(100% + 20px);
  display: flex!important;
  border-radius: 5px;
  text-transform: lowercase;
  margin-top: -40px;
  
  @media (min-width: 400px){
    padding:40px 20px;
    width: 260px;
  }
  @include respond-to('md'){
    top: 80px;
    left: -30px;
    width: 380px;
   
  }
 
}


.chevron{
  display: flex;
  align-items: center;
  margin-left:10px;
}

.nav-item {
  font-weight: normal;
 
}

.nav-item-bold {
  font-weight: 600;
  // other styling
}
.service-item {
  display: block;
  padding: 10px; /* Adjust padding as needed */
  text-decoration: none; /* optional, removes the underline */
  color: inherit; /* optional, ensures the text color is inherited from the parent */
  /* add other styling as needed */
  &:hover{
    font-weight: 500;
  }
}

