
@import '../../../assets/scss/abstracts/variables';
@import '../../../assets/scss/abstracts/mixins';

.hero-section{
    height: 100vh;
    width: 100vw;
    background: linear-gradient(to bottom, $primary-color 40%, #3c4142cf), url('../../../assets/images/waterBubblingonConcrete.jpg');
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 $mobile-sides;
}
.hero-content{
    display: flex;
    flex-flow: column;
    align-items: flex-start;
    @include respond-to('md'){
        max-width: 70%;
        margin: auto $desktop-sides;
    }
    @include respond-to('xl'){
        max-width: 55%;
        // margin: auto;
    }
}