.product-section{


   @include respond-to('md'){

   }
   @include respond-to('lg'){
      display: flex;  
      gap: $gap-lg;
   }
   ul{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   li strong{
    font-family: 'Poppins';
   }
 
}

.product-price{
    margin-top: $gap-md;
    font-size: 30px;
    color: white;
}