.product-section{
    padding: $section-gutter-y--mobile $section-gutter-x--mobile;
   background-color: lighten($primary-color, 3%);
   @include respond-to('md'){
    padding: calc($section-gutter-y--tablet + 40px) $section-gutter-x--tablet
   }
   @include respond-to('lg'){
      display: flex;  
      gap: $gap-lg;
   }
   ul{
   
    display: flex;
    flex-direction: column;
    gap: 10px;
   }
   li strong{
    font-family: 'Poppins';
   }
 
}

.product-price{
    margin-top: $gap-md;
    font-size: 30px;
    color: white;
}